name: BuildExamplesMacOS

on:
  [push, pull_request]

jobs:
  macos_build_tests:
    name: Build Examples (MacOS)
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
    - name: Build Samples
      run: |
        mkdir build
        cd build
        cmake -DVCG_BUILD_EXAMPLES=ON .. 
        make -j4
